product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Messages/Messages.apk
product/priv-app/VelvetCtS/VelvetCtS.apk
product/etc/models/ai_wallpaper/StableDiffusionData/unet.serialized.bin
product/etc/models/ai_wallpaper/StableDiffusionData/text_encoder.serialized.bin
product/etc/models/ai_wallpaper/ControlNetData/controlnet.serialized.bin
product/etc/models/ai_wallpaper/ControlNetData/unet.serialized.bin
product/etc/models/ai_wallpaper/ControlNetData/text_encoder.serialized.bin
product/etc/models/ai_whisper/encoder_model_htp.bin
product/etc/models/ai_whisper/decoder_model_htp.bin
product/app/ARUnbox/ARUnbox.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/app/YouTube/YouTube.apk
product/app/Gmail2/Gmail2.apk
product/app/AniMePlay/AniMePlay.apk
product/app/Maps/Maps.apk
product/app/Photos/Photos.apk
system/priv-app/MLModel/MLModel.apk
system/priv-app/OCR/OCR.apk
system/priv-app/AsusCamera/AsusCamera.apk
system/priv-app/SemanticService/SemanticService.apk
system/priv-app/AsusSystemUI/AsusSystemUI.apk
system/priv-app/AsusGallery/AsusGallery.apk
system/priv-app/GameBroadcaster/GameBroadcaster.apk
system/priv-app/ROGGameCenter/ROGGameCenter.apk
system/priv-app/ROGAsusSettings/ROGAsusSettings.apk
system/priv-app/InstantTranslationService/InstantTranslationService.apk
system/priv-app/AsusTips/AsusTips.apk
system/app/AsusSetupWizard/AsusSetupWizard.apk
system/app/NextAppCore/NextAppCore.apk
recovery.img
modem.img
bootRE/boot.elf
vendor/etc/camera/vidhance.lic
